/*
Colores de sitio web
primary: #0d6efd
primary-600: #0a58ca
primary-700: #084298
primary-800: #052c65
secondary: #adb5bd
success: #198754
info: #0dcaf0
warning: #ffc107
danger: #dc3545
orange: #fd7e14
orange-100: #ffe5d0
orange-600: #ca6510
light: #fff
dark: #000

bg-card-header: #064a8d;
#adb5bd
*/
html {
    box-sizing: border-box;
    /* Permite que el tamaño de los elementos se calcule incluyendo el padding y el border */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Permite que el tamaño de los elementos se calcule incluyendo el padding y el border */
}

/* Estilos generales para el sitio web */
body {
    font-family: "Open Sans", sans-serif, Arial, Helvetica;
}

.container {
    width: 98%;
    max-width: 1400px;
    margin: 0 auto;
}



/* Estilos para encabezados */
.bg-header {
    background-image: url('/CursoWeb/01-Fundamentos/Imagenes/bg-header-min.jpg');
    background-repeat: no-repeat;
    /* Evita que la imagen de fondo se repita */
    background-size: cover;
    /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-position: center;
    /* Centra la imagen de fondo */
    height: 20rem;
}

.container-navbar {
    width: 80%;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1em 0;
}

/* @media (min-width: 768px) */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* @media (min-width: 768px) */
.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    ;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1em;
}

.navbar-brand img {
    width: 2em;
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.63);
    padding: 1em 0.6em;
    border-radius: 0.3em;
}

.nav-link {
    display: inline-block;
    color: #fff;
    padding: 0.3em;
    text-decoration: none;

}

.nav-link:hover {
    background-color: #fff;
    color: #000;
    border-radius: 0.5em;
}

.border {
    border: 2px #000 solid;
}



.h-40 {
    height: 40rem;
    /* Ajusta la altura de los elementos */
}

.h-15 {
    height: 15rem;
    /* Ajusta la altura de los elementos */
}

.h12 {
    height: 12rem;
    /* Ajusta la altura de los elementos */
}

.h-6 {
    height: 6rem;
    /* Ajusta la altura de los elementos */
}

.h-4 {
    height: 4rem;
    /* Ajusta la altura de los elementos */
}

.w12 {
    width: 12rem;
    /* Ajusta el ancho de los elementos */
}

.flex-container {
    display: flex;
    /* flex, inline-flex - por defecto: flex */
    flex-direction: row;
    /* row, column, row-reverse, column-reverse - por defecto: row */
    flex-wrap: wrap;
    /* nowrap, wrap, wrap-reverse - por defecto: nowrap */
    justify-content: flex-start;
    /* flex-start, flex-end, center, space-between, space-around, space-evenly - por defecto: flex-start */
    align-items: flex-start;
    /* flex-start, flex-end, center, baseline, stretch - por defecto: stretch */
}

.order-0 {
    order: 0;
    /* Por defecto: 0 */
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.title-content {
    background-color: #fff;
    padding: 0.3em 3em;
}

.title-tienda {
    background-color: #fff;
    padding: 0.3em 0;
    margin-top: -1.3em;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    border-radius: 0.3em 0.3em 0 0;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 0.3em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    margin: 0.5rem;
}

.bg-dark {
    background-color: #1E403A;
}

.btn:hover {
    background-color: #ca6510;
    /* Cambia el color de fondo al pasar el mouse */
    font-size: 1.1rem;
    /* Cambia el tamaño de la fuente al pasar el mouse */
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

/* Card */
.card {
    overflow: hidden;
    background-color: #A63C58;
    color: #fff;
    border-radius: 0.4em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-inline-block {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.card-header {
    font-size: 1.5rem;
    padding: 0 1em;
    margin: 1em 0;
    font-weight: 500;
}

.card-body {
    padding: 0 1em;
    font-weight: 200;
}

/* NOSOTROS */
.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    background-color: #2F2E2E;
}

.nosotros-col-img {
    order: 2;
    background-image: url('/CursoWeb/01-Fundamentos/Imagenes/nosotros-min.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 29em;
    width: 100%;
}

.nosotros-col-text {
    order: 1;
}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;
}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.nosotros-body p {
    font-weight: 200;
}


/* FOOTER */
.bg-footer {
    background-color: #214037;
    color: #E2F2C9;
}

.bg-footer p {
    padding: 1em;
    margin: 0;
    text-align: center;
}

@media (min-width: 576px) {
    .nosotros-col-img {
        height: 39em;
        width: 100%;
    }

}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-brand {
        flex-direction: row;
    }

    .container-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
    }

    .nosotros {
        flex-direction: row;
    }

    .nosotros-col-img {
        order: 1;
        flex: 1 1 0;
    }

    .nosotros-col-text{
        order: 2;
        flex: 1 1 0;
    }


}